.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
  }
  
  html, body {
    box-sizing: border-box;
    background-color: #F59AA3;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }
  
  header {
    color: #F5E4C3;
    background-color: #5B2E35;
  }
  
  .container > div:nth-child(3n) {
    color: #F5E4C3;
    background-color: #F5E4C3;
  }
  
  .container > div:nth-child(2n) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(4n) {
    background-color: #5B2E35;
  }

  