@import url('https://fonts.googleapis.com/css?family=Roboto');  
  
html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  font-size: 30px;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  min-height: 100%
}

header {
  font-size: 1.3rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: 1em 2em 1em 0; 
  height: 1.5rem;
  background-color: #232931;
  color: #F0ECE2;
}

header > div {
  display: flex;
  align-items: center;
}

aside{
  background:rgba(0,0,0,0.1); 
  background-image: url(https://cms-assets.tutsplus.com/uploads/users/33/posts/30712/image/Redpattern-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 26.5%; 
  background-position: 0px 82px;
  opacity: 0.65;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 23%;
}

aside > .caption {
  display: flex;
  flex: 0 0 auto;
  background-color: #E2E7E4;
  padding: 2em;
  width: 65%;
  border-radius: 20px;
}

article {
  height: 67%;
}

article.board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* justify-content: center; */
  margin: 0em 1em;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  flex:0 0 auto;
  width: 100%;
  justify-content: space-around;
  height: 4em;
}

.task--description{
  display: flex;
  flex-flow: column nowrap;
  width: 65%;
}

.task--name {
  flex: 3;
  background-color: #DBBBBA;
  color: #4D1510;
  border-radius:20px;
  margin-bottom: 3%;
}

.task--progress{
  flex: 1;
  background-color: #88B04B;
  border-radius:20px;
}

.task--countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  /* justify-content: center; */
  
}

footer{
  height:1.9em;
  background-color: #232931;
  color: #F0ECE2;
}