@import url('https://fonts.googleapis.com/css?family=Roboto');  
  
html, body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  font-size: 30px;
  height: 100%;
}

#line {
  width: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  min-height: 100%;
}

header {
  font-size: 1.3rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: 1em 2em 1em 0; 
  height: 1.5rem;
  background-color: #232931;
  color: #F0ECE2;
  top: 0px;
  right: 0px;
  left:0px;
  position: fixed;
}

header > div {
  display: flex;
  align-items: center;
}

main{
  background:rgba(0,0,0,0.1); 
  background-image: url(https://cms-assets.tutsplus.com/uploads/users/33/posts/30712/image/Redpattern-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 26.5%; 
  background-position: 0px 82px;
  opacity: 0.65;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23%;
}

main > .caption {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  background-color: #E2E7E4;
  color: #5e0104;
  padding: 0.5em;
  width: 63%;
  border-radius: 20px;
  font-size: 2.5em;
  text-align: center;
  align-items: center; 
  font-family: Marion Bold;
}

.caption--time{
  height: 0.3em;
  width: 8em;
  background-color: rgb(80, 136, 2);
  border-radius: 20px;
}

article {
  max-height: 67%;
}

article.board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 0.5em 1em;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  flex:0 0 auto;
  width: 100%;
  justify-content: space-around;
  height: 4.5em;
  padding-top: 2em;
}

.task--description{
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
}

.task--name {
  flex: 4;
  background-color: #DBBBBA;
  color: #4D1510;
  border-radius:20px;
  margin-bottom: 3%;
  font-family: Marion;
}

p {
  text-align: center;
}

.task--progress{
  flex: 1;
  background-color: #88B04B;
  border-radius:20px;
 
}

.task--countdown {
  font-size: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 25%;
  
  color: #666666;
}

footer{
  height:1.9em;
  background-color: #232931;
  color: #F0ECE2;
  width: 100%;
  left:0px;
  bottom: 0px;
  position: fixed;
}

