body {
    background-color: #F5564E;
}

.header {
    background-color: #5B2E35;
    color: #F5E4C3;
    font-size: 14px;
}

.main {
    background-color: #F59AA3;
    color: rgb(15, 90, 97);

    position: absolute;
    top: 8%;
   
    height: 91%;
    width: 69%;
}

.information {
    background-color: #F5E4C3;
    width: 29.3%;
    height: 91%;
    position: absolute;
    left: 70%;
    top: 8%;
}

.information table{
    
    left: 1%;
    width: 95%;
    height: 92%;
    top: 1%;
    
}

.information caption{
    color: #e21530;
    font-size: 30px;
}

.information td{
    border-bottom: 2px solid #da5a27;
    color: #da5a27;
    vertical-align: bottom;
}

.main div.table {
    padding: 2%;
    padding-left: 0%;
    padding-top: 0%;
}

.main div.table caption {
     font-size: 30px;
}

.main div.table table{
    background-color: #34A7B2; 
    width: 100%;
    padding: 10px;
    font-size: 20px;
}