
header {
    background-color: #5B2E35; 
    font-size: 14px;
}

main {
    background-color: #F59AA3;
    color: rgb(15, 90, 97);
}

aside {
    background-color: #F5E4C3;
}

aside table{
    left: 1%;
    width: 95%;
    height: 92%;
    top: 1%;
    padding: 1%;
} 

aside caption{
    color: #e21530;
    font-size: 30px;
}

aside td{
    border-bottom: 2px solid #da5a27;
    color: #da5a27;
    vertical-align: bottom;
}

main nav.table {
    font-variant: small-caps;
 }

main nav.table caption {
     font-size: 30px;
  }

main nav.table table{
    background-color: #34A7B2; 
    font-size: 20px;
}

main nav.table td{
    background-color: #F5E4C3;
}

/* GRID-BASED LAYOUT */
  header {
    grid-row: 1;
    grid-column: 1 / 4;
    grid-area: head;
  }
  /* nav {
    grid-row: 2;
    grid-column: 1 / 2;
    padding: 0 10px;
  } */
  main {
    grid-row: 2;
    grid-column: 1/ 3;
    padding: 0 20px;
    grid-area: main;
  }
  aside {
    grid-row: 2;
    grid-column: 3/4;
    padding: 0 10px;
    grid-area: aside;
  }

  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "head head head"
      "main main aside"
      "main main aside";
  }