/* 
header {
    background-color: #5B2E35; /* вот это вот почему не по размеру? */
    color: #F5E4C3;
    font-size: 14px;
}

header table{
    /* background-color: #5B2E35; */
}

main {
    background-color: #F59AA3;
    /* background-color: green; */
    color: rgb(15, 90, 97);

    /* position: absolute;
    top: 8%;
   
    height: 91%;
    width: 69%; */
}

aside {
    background-color: #F5E4C3;
    /* background-color: blueviolet; */
    /* width: 29.3%;
    height: 91%;
    position: absolute;
    left: 70%;
    top: 8%; */
}

aside table{
    
    left: 1%;
    width: 95%;
    height: 92%;
    top: 1%;
    padding: 1%;
} 

aside caption{
    color: #e21530;
    font-size: 30px;
}

aside td{
    border-bottom: 2px solid #da5a27;
    color: #da5a27;
    vertical-align: bottom;
}

main nav.table {
    
    font-variant: small-caps;
 
}

main nav.table caption {
     font-size: 30px;
  
}

main nav.table table{
    background-color: #34A7B2; 
    /* width: 100%; */
    font-size: 20px;
   
}

main nav.table td{
    background-color: #F5E4C3;
    
}

/* GRID-BASED LAYOUT */
/* body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: min-content min-content;
  } */
  header {
    grid-row: 1;
    grid-column: 1 / 3;
    height: 20%;
    grid-area: head;
  }
  /* nav {
    grid-row: 2;
    grid-column: 1 / 2;
    padding: 0 10px;
  } */
  main {
    grid-row: 2;
    grid-column: 1/ 2;
    padding: 0 20px;
    grid-area: main;
  }
  aside {
    grid-row: 2;
    grid-column: 2/3;
    padding: 0 10px;
    grid-area: aside;
  }
  /* footer {
    grid-row: 3;
    grid-column: 1 / 3;
  }
   */

  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-areas: 
      "head head head"
      "main main aside"
      "main main aside";
  } */