.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas: 
      "h h h"
      "c c m"
      "f f f";
}

header {
  grid-area: h;
}

aside {
  grid-area: m;
}

.content {
  grid-area: c;
}

footer {
  grid-area: f;
}

