/* .container {
  height: 100%;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 4.8% 26.5% auto 3%;
  grid-template-areas: 
      "h"
      "m"
      "c"
      "f";
}

header {
  grid-area: h;
}

aside {
  grid-area: m;
}

article {
  grid-area: c;
}

footer {
  grid-area: f;
}

 */

